/*! section header */

.header {
  display: flex;
  background-color: #888888;
  width: 100%;
  height: 30vh;
  margin-bottom: 20px;
  z-index: -1;
}

.imageProfile {
  height: 30vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.header .title-profile {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.name {
  font-size: 40px;
  padding: 25px;
}

.my-web {
  font-size: 35px;
  font-weight: 400;
}

/*! section about */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-size: 22px;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 70%;
  font-size: 30px;
  font-weight: 600;
  background-color: #b0b0b0;
}

.description {
  display: flex;
  width: 70%;
  justify-content: justify;
  align-items: center;
  padding: 20px;
  text-align: justify;
  background-color: #b7b7b7;
}

/*! section technologies */

.technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-size: 22px;
  margin-bottom: 20px;
}

.technologies-title {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 70%;
  font-size: 30px;
  font-weight: 600;
  background-color: #b0b0b0;
}

.technologies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  flex-wrap: wrap;
}

.icon {
  width: 17vw;
  padding: 10px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b7b7b7;
  cursor: pointer;
}

.card-container:hover {
  background-color: #a0a0a0;
  box-shadow: 0 0 1px 1px #fff;
  transition: 0.2s;
}

/*! section activities */

.activities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-size: 22px;
  margin-bottom: 20px;
}

.activities-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  height: 8vh;
  width: 70%;
  font-size: 30px;
  background-color: #b0b0b0;
}

.activities-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #b7b7b7;
  font-size: 26px;
}

.activities-form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #c6c6c6;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.activities-form-label {
  font-weight: 600;
}

.activities-form-input {
  padding: 0 20px;
  width: 90%;
  border-radius: 5px;
  border: none;
  height: 40px;
  font-size: 20px;
}

.activities-form-button {
  height: 50px;
  width: 50%;
  border-radius: 5px;
  border: none;
  background-color: #a1a1a1;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

.activities-form-button:hover {
  background-color: #1b1b1b;
  box-shadow: 0 0 1px 2px #fff;
  transition: 0.2s;
  color: #fff;
}

.container-card-activities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-size: 22px;
  margin-bottom: 20px;
}

.card-activities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 500px;
  background-color: #b7b7b7;
  font-size: 26px;
}
